---
 const personalImageAlt = "Nicholas Sher"
---

<article class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row">
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-yellow-500 dark:[&>p>strong]:text-yellow-100 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
  >

    <!-- <p>
        Me llamo Nicholas y soy un apasionado Desarrollador Web con sede en Argentina y actualmente <strong
          >Estudiante de Ingeniería en Sistemas en la UTN (Universidad Tecnológica Nacional)</strong
        >.
    </p> -->
    <p>
        My name is Nicholas, and I'm a passionate Web Developer based in Argentina, and currently a <strong
          >Computing Systems Engineering student at UTN (National Technological University of Buenos Aires, Argentina).</strong
        >. 
    </p>

    <!-- <p>
        Mi experiencia abarca una amplia gama de tecnologías web,  <strong
        >desde HTML5, CSS3, JavaScript hasta React.js, Astro, Firebase, Tailwind y Bootstrap5, entre otras librerías de CSS</strong
      >. Además, mi formación universitaria me ha llevado a trabajar con el lenguaje C y C++, lo que ha ampliado mi perspectiva y habilidades en el ámbito de la programación.
    </p> -->
    <p>
        My experience spans a wide range of web technologies,  <strong
        >from HTML5, CSS3, JavaScript to React.js, Astro, Firebase, Tailwind CSS and Bootstrap5, among other CSS libraries</strong
      >. Additionally, my university education has led me to work with C and C++ languages, expanding my perspective and skills in the programming field.
    </p>

    <!-- <p>
        Mi objetivo es colaborar en entornos que fomenten la creatividad y el aprendizaje continuo.<strong> Si buscas un talento motivado y entusiasta que aporte soluciones innovadoras</strong>, ¡Me encantaría conectar contigo!
    </p> -->
    <p>
      My goal is to collaborate in environments that encourage creativity and continuous learning.<strong> If you're looking for a motivated and enthusiastic talent to bring innovative solutions</strong>, I'd love to connect with you!
    </p>
  </div>

  <img width="200" height="200" src="https://www.crearuncurriculum.com/wp-content/uploads/2020/01/Foto-CV-1.jpg" alt={personalImageAlt} class="order-1 object-cover w-64 h-full p-1 md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl bg-black/20 dark:bg-yellow-500/5 ring-1 ring-black/70 dark:ring-white/20 " style="object-position: 50% 50%">

</article>