---
const personalImageAlt = "Nicholas Sher"

import LinkedInIcon from "../icons/linkedIn.astro"
import MailIcon from "../icons/gmail.astro"
import DownloadIcon from "../icons/download.astro"
import NavIcons from "./NavIcons.astro"
---

<div class="max-w-3xl md:inline-flex md:gap-10">
  
  <div>
    <h1
      class="text-4xl font-bold tracking-wider sm:text-5xl text-white"
    >
        Hey, I'm <span class="text-nowrap"> Nicholas Sher </span>
    </h1>
    <p
      class="mt-6 text-xl [&>strong]:text-yellow-200 [&>strong]:font-semibold text-gray-300"
    >
        Software Engineering Student <span class="text-nowrap text-yellow-100">From Buenos Aires, Argentina</span> 
    </p>
    <nav class="flex flex-wrap gap-4 mt-8">
      <NavIcons href="https://linkedin.com/in/nicholassher">
        <LinkedInIcon class="size-4" />
        LinkedIn
      </NavIcons>
      <NavIcons href="../../public/cv-sher.pdf">
        <DownloadIcon class="size-5" />
        Download Resume
      </NavIcons>
      <NavIcons >
        <MailIcon class="size-5" />
        nicossher@gmail.com
      </NavIcons>
      
    </nav>
  </div>
    <img 
      width="200" 
      height="200" 
      src="../../public/op4.webp" 
      alt={personalImageAlt} 
      class="inline-flex mt-4 mx-auto object-cover w-64 h-full lg:w-64 aspect-square rounded-full shadow-md border-4 border-yellow-200" 
      >

</div>